body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.avatar {
    display: inline-block;
    border-radius: 24px;
    margin: -0.05em 0 0 -1.5em; /*DEFAULT margin: 1em 0 0 1.5em;*/
    height: 48px;
    width: 48px;
}

.avatarzoom {
    display: inline-block;
    border-radius: 48px;
    height: 96px;
    width: 96px;
}


strong {
    font-weight: normal;
    color : #4885ed; /*balises strong dans le corps des pages par defaut #1DA1F2*/
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}



/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
#layout.active #menu {
    left: 200px;
    width: 200px;
}

#layout.active .menu-link {
    left: 200px;
}
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #fff; /*ligne de démarcation header / section*/
    background-color: none; /*couleur de fond de header*/
}
.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -200px; /* "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: rgb(254, 254, 254);   /*[__BACKGROUND__]COULEUR DE FOND PANNEAU LATERAL*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid rgb(240, 240, 240);
}
/*
All anchors inside the menu should be styled like this.
*/
#menu a {
    font-weight: lighter; /*affine la police du menu*/
    color: #999; /*COULEUR POLICE DES LIENS PANNEAU LATERAL*/
    border: none;
    padding: 0.3em 0 0.3em 0.6em;   /*PAR DEFAUT -> padding: 0.6em 0 0.6em 0.6em;*/ ESPACEMENT DES ELEMENTS DU MENU
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: none; /*BARRE DE SEPARATION PANNEAU LATERAL ENTETE || CORPS default 1px solid #F8F9F9*/
}
/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: rgb(250, 250, 245); /*COULEUR DES FOND DES LIENS A LEUR SURVOL default #f0eded*/
}

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    padding-left: 20%;
    background: rgb(254, 254, 254); /*[__BACKGROUND__]COULEUR DE FOND PANNEAU LATERAL ENTETE defaultE5E7E9 */
    height: 60px;
}
/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
    color: #fff;
}

#menu .menutitle {
    color: red;
    display: block;
    margin-top: -2.3em;
    margin-left: 2.5em;
}

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
    position: relative;
    font-size: 90%;
    color: rgb(254, 254, 254); /*COULEUR DU TITRE DE ENTETE PANNEAU LATERAL CNAMICRON*/
    margin-bottom:0px; /*Marge entre l'entete de menu et les éléments de menu*/
    padding-top: 15px;
    padding-left: 38%; /*Décallement des icones de menu par rapport à l'entête*/
}






/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: rgba(0, 0, 0, 0.00); /*COULEUR DE FOND MENU BURGER*/
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 1em; /*par défaut 2em -> taille horizontale des trois lignes du menu burger*/
    height: auto;
    padding: 2.1em 1em; /*position du bouton marge du haut puis marge de gauche par defaut 2.1em 1.6em*/
}

.menu-link:hover,
.menu-link:focus {
    background: rgba(0, 0, 0, 0.0); /*COULEUR DE FOND MENU BURGER AU SURVOL ET CLIC*/
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: black; /*COULEUR DES TROIS LIGNES MENU BURGER par defaut rgba(174, 182, 191, 0.5)*/
    width: 130%;
    height: 0.3em;
}



.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 200px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 200px;
    }

    .menu-link {
        position: fixed;
        left: 200px;
        display: none;
    }

    #layout.active .menu-link {
        left: 200px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 200px;
    }

    #menu a {
        padding: 0.6em 0 0.6em 0.6em;   /*PAR DEFAUT -> padding: 0.6em 0 0.6em 0.6em;*/ ESPACEMENT DES ELEMENTS DU MENU
    }

    #menu .pure-menu-heading {
        margin-bottom:0px; /*Marge entre l'entete de menu et les éléments de menu*/
    }
}
